ui = true

storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address = "{{ vault_server_fqdn }}:8200"
  tls_disable = true
}

listener "tcp" {
  address = {% raw %}"{{ GetInterfaceIP \"eth1\" }}:8200"
{% endraw %}
  tls_disable = true
}

api_addr = {% raw %}"https://{{ GetInterfaceIP \"eth1\" }}:8200"
{% endraw %}
