ui = true

storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address = {% raw %}"{{ GetInterfaceIP \"eth0\" }}:8200"
{% endraw %}
  tls_disable = true
}

listener "tcp" {
  address = {% raw %}"{{ GetInterfaceIP \"eth1\" }}:8200"
{% endraw %}
  tls_disable = true
}

api_addr = {% raw %}"http://{{ GetInterfaceIP \"eth1\" }}:8200"
{% endraw %}
cluster_addr = {% raw %}"http://{{ GetInterfaceIP \"eth1\" }}:8201"
{% endraw %}

{% if vault_consul_register %}
service_registration "consul" {
  address = "127.0.0.1:8500"
}
{% endif %}
