datacenter  = "dc1"
data_dir    = "{{ consul_data_dir }}"
bind_addr   = {% raw %}"{{ GetInterfaceIP \"eth0\" }}"
{% endraw %}
client_addr = "0.0.0.0"

server      = true
bootstrap   = true

ports {
  http     = 8500
  grpc     = 8502
{% if consul_enable_tls %}
  https    = 8501
  grpc_tls = 8503
{% endif %}
}

{% if consul_enable_tls %}
# bind http port to localhost only
addresses {
  http = "127.0.0.1"
}

tls {
  defaults {
    ca_file   = "{{ consul_tls_dir }}/consul-agent-ca.pem"
    cert_file = "{{ consul_tls_dir }}/dc1-server-consul-0.pem"
    key_file  = "{{ consul_tls_dir }}/dc1-server-consul-0-key.pem"

    verify_incoming = true
    verify_outgoing = true
  }

  # workaround for envoy mTLS error
  grpc {
    verify_incoming = false
  }

  # disable mTLS for https connections
  https {
    verify_incoming = false
  }

  internal_rpc {
    verify_server_hostname = true
  }
}

auto_encrypt {
  allow_tls = true
}
{% endif %}

connect {
  enabled = true
}

ui_config {
  enabled = true
}
