#!/bin/bash
set -euo pipefail

ADDR="{{ nomad_vault_addr }}"

TOKEN="$(vault login --tls-skip-verify --token-only -method=cert \
    -client-cert={{ nomad_tls_dir }}/nomad_startup.crt \
    -client-key={{ nomad_tls_dir }}/nomad_startup.pem)"

NOMAD_TOKEN="$(VAULT_ADDR=$ADDR VAULT_TOKEN=$TOKEN \
    vault write --tls-skip-verify -field=token auth/token/create-orphan \
    "policies=nomad_cluster" \
    "period=72h")"

VAULT_TOKEN="$NOMAD_TOKEN" /usr/bin/nomad agent -dev -config {{ nomad_config_dir }} &
